body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.p-t-20
{
  padding-top: 20px;
}
.m-t-20
{
  margin-top: 20px;
}

.zar-label
{
  font-size: 20px;
  font-weight: bold;
}
